@using Microsoft.AspNetCore.Identity
@using ContactManager.Core.Domain.Entities

@model UserCreate
@inject RoleManager<AppRole> roleManager

@{
    ViewData["Title"] = "User Creation";
}

<h1>User Creation</h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Manage",
    new {}, new { @class = "btn btn-secondary" })
</div>

<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleId"></label>
                <select asp-for="RoleId" asp-items="@(new SelectList(roleManager.Roles, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="RoleId"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="input-group toggle-password">
                    <input asp-for="Password" class="form-control" value="@Model.Password" />
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirmation"></label>
                <div class="input-group toggle-password">
                    <input asp-for="PasswordConfirmation" class="form-control" value="@Model.PasswordConfirmation" />
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="PasswordConfirmation"></span>
            </div>

            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }

<script>
    function togglePasswordVisibility() {
        const passwordButton = $(this);
        const passwordInputs = passwordButton.siblings('input');
        const isPasswordVisible = passwordButton.hasClass('active');

        passwordButton.toggleClass('active');
        passwordInputs.attr('type', isPasswordVisible ? 'password' : 'text');
    }

    const visibilityButtons = $('.toggle-password button');
    visibilityButtons.on('click', togglePasswordVisibility);
    visibilityButtons.trigger('click');
</script>
}
