@model ResetPassword

@{
    ViewData["Title"] = "Create";
}

<h1>New Password</h1>

<div class="mt-2 mb-2">
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-secondary" })
</div>

<div class="alert alert-success">
    Congratulations! The password of <b>@Model.UserName</b> was reset.
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <div class="input-group">
                <input id="toCopy" asp-for="NewPassword" type="text" class="form-control" value="@Model.NewPassword">
                <button type="button" class="btn btn-outline-primary" onclick="copyToClipboard()">
                    <i class="fa fa-copy"></i> Copy
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    function copyToClipboard() {
      $("#toCopy").select();


      if(!document.execCommand("copy")) {
          alert("Unable to copy to clipboard.");
      }
    }
</script>
}