@if (TempData["Error"] is string errorMessage) {
    <div class="alert alert-danger" role="alert">@errorMessage</div>
}

@if (TempData["Success"] is string successMessage) {
    <div class="alert alert-success" role="alert">@successMessage</div>
}